<script>
    $(document).ready(function() {
        $('#portfolio_venue_id').select2();
    });
</script>

<%= form_with(model: portfolio, local: true) do |form| %>
  <% if portfolio.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(portfolio.errors.count, "error") %> prohibited this portfolio from being saved:</h2>

      <ul>
        <% portfolio.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :venue_id %>
    <%= form.collection_select :venue_id, Venue.all, :id, :formatted_venue_select, {id: "venue_list", class: "custom-select"} %>
    <%# <%= form.select :venue_id, [["Baba", "35"]] %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description, rows: 8, col: 10, placeholder: "Summary text", class: "form-control" %>
  </div>

  <div class="field">
    <%= form.label :date %>
    <%= form.date_field :date, class: "form-control" %>
  </div>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.text_field :user_id, value: "#{current_user.id}", class: "form-control" %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
