<!DOCTYPE html>
<html>
  <head>
    <title>Ventus3</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag asset_path('screenshot.png') %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

    <script src="https://kit.fontawesome.com/9a517c42a6.js" crossorigin="anonymous"></script>

    <!-- Google Maps -->
    <%= javascript_include_tag 'https://maps.googleapis.com/maps/api/js?key='+ Rails.application.credentials.google_maps_api_key %>

    <%= yield(:head_tags) %>

  </head>

  <body>

    <% if params[:controller] == 'pages' && params[:action] == 'home' %>
      <%= render 'shared/homenavbar' %>
    <% else %>
      <%= render 'shared/navbar' %>
    <% end %> 
    <%= render 'shared/message' %>


    <div id="<%= params[:controller] %>" class="container <%= params[:action] %>">
      <%# <p class="notice"><%= notice %>
      <%# <p class="alert"><%= alert %>
      <%= yield %>
    </div>

  </body>

</html>
