<!DOCTYPE html>
<html>
  <head>
    <title>Ventus3</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <script src="https://kit.fontawesome.com/9a517c42a6.js" crossorigin="anonymous"></script>
    <%# <%= javascript_include_tag 'https://maps.googleapis.com/maps/api/js?key='+Rails.application.credentials.google_maps_api_key %>
    <%= yield(:head_tags) %>

  </head>

  <body>

    <%= render 'shared/navbar' %>
    <%= render 'shared/message' %>


    <div class="container">
      <%# <p class="notice"><%= notice %>
      <%# <p class="alert"><%= alert %>
      <%= yield %>
    </div>

  </body>

</html>
